body{
    margin: 4em 1em!important;
}
.title{
font-weight: 700;}
/* form */
.form-container{
    font-family: 'Palanquin', sans-serif;
    border: 1px solid black;
    box-shadow: 0px 0px 23px -2px #A6B3BC;
    padding: 3em 1em;
    border: none;
}
.inputbox{
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid black;
    /* background-color: #dceb92; */
    /* border-radius: 10px; */
    height: 35px;
}
.inputbox:focus{
    /* outline: 1px solid pink; */
    border-bottom: 3px solid green;
    outline: none;
}
input[type='text']{
    width: 400px;
}
input[type='number']{
    width: 70px;
}
.addbtn{
    border-radius: 7px;
    padding: 5px 15px;
    background-color: #0cc712;
    color: white;
    border: none;
}
.addbtn:hover{
    background-color: #1ea523;
}

/* table */
.table-container{
    font-family: 'Palanquin', sans-serif;
}
table{
    margin-top: 100px;
    border-collapse: collapse;
    width: 100%;
}
table td, th {
    text-align: left;
    padding: 0.1rem 0.5rem;
}
table th{
    font-weight: 700;
}
.no-expensestxt{
    border: none;
    padding: 0;
}
.deletebtn{
    border-radius: 7px;
    background-color: rgb(250, 82, 146)!important;
    color: white;
    padding: 3px 12px!important;
    border: none;
}
.deletebtn:hover{
    background-color: #c5195a!important;
}
.deletebtn:hover .tablerow{
    background-color: red!important;
}

.deletebtn-td{
    border: none;
}
.total{
    font-weight: 700;
    padding-left: 10px;
}