body{
    margin: 4em 1em!important;
}

input[type='text']{
    width: 400px;;
}
input[type='number']{
    width: 70px;
}
table{
    margin-top: 100px;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}
.container{
    padding: 1em;
}