body{
    margin: 4em 1em!important;
}
.title{
font-weight: 700;}
/* form */
.form-container{
    font-family: 'Palanquin', sans-serif;
    border: 1px solid black;
    box-shadow: 0px 0px 23px -2px #A6B3BC;
    padding: 3em;
    border: none;
    border-radius: 15px;
    width: fit-content;
}
.inputbox{
    border: none;
    border-bottom: 1px solid black;
    height: 40px;
    margin-left: 10px;
}
.inputbox:focus, .inputbox:hover{
    border: none;
    border-bottom: 3px solid green;
    outline: none;
}
.inputtext{
    width: 400px;
    box-shadow: 0px 0px 9px -2px #A6B3BC;
    border: none;
    border-radius: 10px;
    height: 40px;
    padding-left: 10px;
}
.inputtext:focus, .inputtext:hover{
    border-bottom: 3px solid green;
    border-radius: 0;
    box-shadow: none;
    outline: none;
}
.inputamt{
    font-size: 1.5rem;
    font-weight: 700;
    width: 100px;
}
.inputdate{
    width: 126px;
}
.addbtn{
    border-radius: 7px;
    padding: 5px 15px;
    background-color: #0cc712;
    color: white;
    border: none;
    box-shadow: 0px 0px 10px 0px #A6B3BC;
}
.addbtn:hover{
    background-color: #1ea523;
}

/* table */
.table-container{
    font-family: 'Palanquin', sans-serif;
    min-width: 200px!important;
    max-width: 900px!important;
}

table td, table th {
    text-align: center;
}
.amountdate{
    margin-top: 2em;
}
.amountdiv, .datediv{
    font-weight: 700;
}
.inputlabel{
    margin-left: 10px;
}
.deletebtn-td{
    width: 1px;
    text-align: right;
}

.empty-td{
    border-style: none;
}
.no-expensestxt{
    border: none;
    padding: 0;
    white-space: nowrap;
}
.deletebtn{
    border-radius: 7px;
    background-color: rgb(250, 82, 146)!important;
    color: white;
    padding: 3px 12px!important;
    border: none;
}
.deletebtn:hover{
    background-color: #c5195a!important;
}
.deletebtn:hover .tablerow{
    background-color: red!important;
}
.total{
    font-weight: 700;
    padding-left: 10px;
}
@media screen and (max-width: 547px){
    body{
        font-size: 0.9rem!important ;
    }
    .form-container{
        width: 98%;
        padding: 3em 1.2em!important;
    }
    .inputtext{
        width: 98%;
    }
    .deletebtn{
        padding: 2px 5px!important;
        margin: 0px!important;
    }
    .deletebtn-td{
        width: 50px;
    }
    td.amount{
        width: 10px;
    }
    td.date{
        width: 100px;
    }
}
@media screen and (max-width: 347px){
    .amountdate{
        flex-direction: column;
        margin-top: 1em;
    }
    .amountdiv{
        align-self: flex-start;
    }   
    .datediv{
        align-self: flex-start;
    } 
    .name{
        width: 100px;
    }
}

