body{
    margin: 4em 1em!important;
}

/* form */
.form-container{
    border: 1px solid black;
    box-shadow: 0px 0px 23px -2px #A6B3BC;
    padding: 3em 1em;
    border: none;
}
.inputbox{
    padding-left: 10px;
    border: none;
    border-bottom: 2px solid black;
    /* background-color: #dceb92; */
    /* border-radius: 10px; */
    height: 35px;
}
input[type='text']{
    width: 400px;
}
input[type='number']{
    width: 70px;
}
.addbtn{
    border-radius: 7px;
    padding: 5px 15px;
    background-color: #c0e218;
    border: none;
}


/* table */
table{
    margin-top: 100px;
    border-collapse: collapse;
    width: 100%;
}
td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}